appdirs>=1.4.3
cssselect>=1.0.3
curses-menu==0.5.0
lxml>=4.3.3
more_itertools>=8.3.0
mutagen>=1.42.0
Pillow>=6.0.0
r128gain>=1.0.1
requests>=2.22.0
tqdm==4.28.1
unidecode>=1.0.23
web_cache>=1.1.0
yt-dlp>= 2022.05.18
